<section>
    
  <img src=<%= book.image_url %>>
  <h3><%= book.title %></h3>
  <p><%= book.author %></p>
  <p class="desc"><%= book.description %></p> 
  <p><%= book.isbn %></p>       
  <p><%= book.book_shelf %></p>

</section>
    