<section class="book-container">    
  <img src=<%= book.image_url %>>  
  <br>
  <section>
    
    <h4>Author: <%= book.author %></h4>
    <blockquote><%= book.description %></blockquote> 
    <br>
    <p><%= book.isbn %></p>    
    <br>   
    <p>Shelf: <%= book.book_shelf %></p>
    <br>
  </section>
</section>
    