<!DOCTYPE html>
<html lang="en">
  <%- include ../layout/head.ejs %>
 
  <body>
    <%- include ../layout/header.ejs %>
      <main>
        <h4><%= bookCount %> Saved Books</h4>
        <ul class="search-results">
            <% savedBooks.forEach(book => { %>
              <li data-book-id="<%= book.isbn %>">
                <div class="book-container">
                  <img src=<%= book.image_url %>>
                  <section>
                    <h3><%= book.title %></h3>
                    <span><%= book.author %></span>
                    <p class="desc"><%= book.description %></p>    
                    
                  </section>
                
              </li>
            <% }) %>
          </ul>
    </main>
    <%- include ../layout/footer.ejs %>
  </body>
</html>
