<!DOCTYPE html>
<html lang="en">
  <%- include ../layout/head.ejs %>
 
  <body>
    <%- include ../layout/header.ejs %>
      <main>
        <h4><%= bookCount %> Saved Books</h4>
        <ul class="search-results">
            <% savedBooks.forEach(book => { %>
              <li data-book-id="<%= book.isbn %>">

                <%- include ./books/detail.ejs %>
         
              </li>
            <% }) %>
          </ul>
    </main>
    
    <%- include ../layout/footer.ejs %>
  </body>
</html>
